.hotel-pic{
     height: 1000px; 
     max-width: 1263px;
     width: auto;
     background-image: url(bg1.jpg);
     background-size: cover;
     /* background-repeat: no-repeat; */
}

.hotel-brief-container>p{

    margin-left: 560px;
    margin-top: 90px;
    color: white;
}

.hotel-brief-container{
    
    max-width: 1263px;
    width: auto;
    height: 400px;
    margin-top: -160px;
    background-color: black;
    z-index: 900;
    border: ridge rgb(26, 26, 26);
    padding: 20px;
}

.brief-img{
    width: 400px;
    height: 395px;
    margin-top: -220px;
    margin-left: 30px ;
    /* margin: 0 auto; */
    padding: 10px;
    

}

.brief-img p{

    
    margin-left: 600px;
    margin-top: -250px;
    margin-right: 60px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
    font-size: 20px;
}

/* .brief-img img{
    margin-top: 35px;
    margin-left: 30px;
    /* margin-bottom: 20px; */
    /* height: 300px;
    width: 500px;
    border-radius: 10px; */
/* } */